@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');


.App {
  text-align: center;
  font-family: 'Montserrat',sans-serif;
}

.bold-text{
  font-weight: 800;
}

.orange{
  color: rgb(255, 136, 0);
}
.btn-outline-warning:hover {

  background-color: rgb(255, 136, 0);
  color: white;
}

.comments{
  color:rgb(22, 174, 245)
}
.comments:hover{
  color:rgb(22, 139, 194)
}

.btn:active,.btn:focus{
  outline: none !important;
  box-shadow: none;
}
